body, #mainWrapper {
	height: 100%;
	background-color:rgb(245, 245, 245);
}
.select-language{
  position: absolute;
  min-height: 500px;
  padding-right: 10px;
  padding-left: 800px;
  top: 10px;
  right:450px;

}
#side-by-side{
	display: flex;
}
side-by-side > div{
	flex: 1;
}
.div-container{
	display: flex;
	float:left;
}
.div-container > div {
	flex: 1;
}
body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.generic-container {
  position:fixed;
  width:89%;
  margin-left: 210px;
  margin-top: 130px;
  margin-bottom: 20px;
  padding: 20px;
  background-color : white;
/*   background-color: #EAE7E7; */
/*   border: 1px solid #ddd; */
  border-radius: 4px;
/*   box-shadow: 0 0 30px black; */
}
.generic-container-listOrdered{
  position:fixed;
  width:60%;
  margin-left: 210px;
  margin-top: 130px;
  margin-bottom: 20px;
  padding: 20px;
  background-color : white;
  
/*   background-color: #EAE7E7; */
/*   border: 1px solid #ddd; */
/*   border-radius: 4px; */
/*   box-shadow: 0 0 30px black; */
}
.generic-cuntainer {
  position:fixed;
  width:100%;
  margin-left: 0px;
  margin-top: 0px; 
  margin-bottom: 10px;
  padding: 10px;
  height: 220px;
  background-color : white;
  
/*   background-color: #EAE7E7; */
/*   border: 1px solid #ddd; */
  border-radius: 4px;
/*   box-shadow: 0 0 30px black; */
}
.generic-container-left{
  position:fixed;
  width:100%;
  height:100%;
  margin-left: -10px;
  margin-top: 140px;
/*   margin-bottom: 200px; */
  padding: 10px;
  background-color : white;
	
/*   background-color: #EAE7E7; */
/*   border: 2px solid #ddd; */
  border-radius: 5px;
/*   box-shadow: 0 0 50px black; */
}
.generic-container-left-listOrdered{
  position:fixed;
  width:100%;
  height:100%;
  margin-left: -10px;
  margin-top: 130px;
  margin-bottom: 20px;
  padding: 10px;
  background-color : white;

/*   background-color: #EAE7E7; */
/*   border: 2px solid #ddd; */
  border-radius: 5px;
/*   box-shadow: 0 0 50px black; */
}
.generic-cuntainer-userPage{
  position:fixed;
  width:100%;
  height: 100%;
  margin-left: -15px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
  background-color : white;

/*   background-color: #EAE7E7; */
/*   border: 1px solid #ddd; */
  border-radius: 4px;
/*   box-shadow: 0 0 30px black; */
}
.generic-container-left-userPage{
  position:fixed;
  width:100%;
  height:100%;
  margin-left: -20px;
  margin-top: 130px;
  margin-bottom: 20px;
  padding: 10px;
  background-color : white;

/*   background-color: #EAE7E7; */
/*   border: 2px solid #ddd; */
  border-radius: 5px;
/*   box-shadow: 0 0 50px black; */
}
.custom-width {
    width: 100px !important;
}
