
#lang_choice {
    background-repeat: no-repeat;
/*     background-image: url(http://pascha.org/img/fr.png); */
    background-position: right center;
    padding-right: 20px;
}
.uk {
    background: url(http://pascha.org/img/en.png) no-repeat right center;  
}
.fr {
    background: url(http://pascha.org/img/fr.png) no-repeat right center;  
}
/* #lang_choice option:nth-child(3) { */
/*     background: url(http://pascha.org/img/de.png) no-repeat right center;   */
/* } */


#mainMenu {
    border-collapse: collapse;
}

#mainMenu td {
    padding: 20px;
    height: 100%;
    width: 50%;
    background-color: #FAFAFA;
    border: 3px solid #EEE;
}

#mainMenu td:hover {
    background-color: #EDEDED;
}

#mainMenu a.highlight {
    background-color: #EDEDED !important;
}

#mainMenu a{
    color: #000;
    text-decoration: none;
}


